.wrapper {
    display: flex;
    position: fixed;
    transition: margin .5s;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100vh;
}

.wrapper-1 {
    margin-left: -60%;
}

.wrapper.is-nav-open{
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}

.nav {
    position: relative;
}

.nav__icon {
    position: absolute;
    top: 75%;
    left: 30%;
    font-size: 20px;
    cursor: pointer;
    transition: color .1s;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.card-title {
    color: black;
    font-size: 25px;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
  }
  
  .card-text {
    color: black;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }
  