.wrapper {
    display: flex;
    position: fixed;
    transition: margin .5s;
    background-color: white;
    flex-direction: column;
    width: 30%;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .wrapper {
      width: 100%;
    }

    div.wrapper-1{
        margin-left: -100%;
    }

    button.nav__icon {
        top: 0%;
        left: 0%;
        color: lightblue;
    }
  }

.wrapper-1 {
    margin-left: -60%;
}

.wrapper.is-nav-open{
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
}

.nav {
    position: relative;
}

.nav__icon {
    position: absolute;
    top: 100%;
    left: 29%;
    font-size: 20px;
    cursor: pointer;
    transition: color .1s;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}

.card-title {
    color: black;
    font-size: 25px;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
  }
  
  .card-text {
    color: black;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
  }
  