.body {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: baseline;
}

.Title {
  color: black;
  font-size: 40px;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
}

.text {
  color: white;
  position: absolute;
  left: -50px;
}

.background {
  display: flex;
  margin: 5% 5% 5% 5%;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: black;
}

.star-background {
  display: flex;
  flex-grow: 1;
  background-image: url("./star-background.jpg");
  background-color: black;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.night-sky {
  position: absolute;
  top: 20%; left: 20%; bottom: 20%; right: 20%;
  width: 320px;
  height: 252.56px;
  margin: auto;
  background: transparent;
  zoom: 200%;
  border-style: solid;
  border-color: red;
}

/* star styling */


.star {
  position: absolute;
  box-shadow: 0 0 3px #fff;
  border-radius: 50%;
}

.twinkle-star-1 {
  width: 10px;
  height: 10px;
  top: 3.7%;
  left: 2.9%;
  background: #b6c8ff;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.61404s;
          animation-delay: 1.61404s;
}

.twinkle-star-2 {
  top: 47.5%;
  left: 23%;
  width: 6px;
  height: 6px;
  background: #f4ccbf;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 4.09091s;
          animation-delay: 4.09091s;
}

.twinkle-star-3 {
  background: #f4ccbf;
  width: 6px;
  height: 6px;
  top: 51%;
  left: 50%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 1.77143s;
          animation-delay: 1.77143s;
}

.twinkle-star-4 {
  width: 7px;
  height: 7px;
  top: 70%;
  right: 2.7%;
  background: #b6c8ff;
  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 1.55357s;
          animation-delay: 1.55357s;
}

.twinkle-star-5 {
  background: #f4aaaa;
  width: 6px;
  height: 6px;
  bottom: 4.2%;
  right: 34%;
  -webkit-animation: twinkle 0.75s alternate infinite;
          animation: twinkle 0.75s alternate infinite;
  -webkit-animation-delay: 0.88462s;
          animation-delay: 0.88462s;
}

.twinkle-star-6 {
  background: #f4aaaa;
  width: 10px;
  height: 10px;

  -webkit-animation: twinkle 0.5s alternate infinite;
          animation: twinkle 0.5s alternate infinite;
  -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s;
}


/* line styling */

.line {
  height: 1px;
  width: 1px;
  position: absolute;
  background: rgba(246,218,230,0.65);
  -webkit-animation: line 7s alternate infinite;
          animation: line 7s alternate infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.line-1 {
  height: 106px;
  transform: rotate(-28.92deg);
  top: 6.4%;
  left: 14.4%;
}

.line-2 {
  height: 70px;
  transform: rotate(-84.9deg);
  top: 37%;
  left: 37.3%;
}

.line-3 {
  height: 102px;
  transform: rotate(-23deg);
  top: 53%;
  left: 58%;
}

.line-4 {
  height: 95px;
  transform: rotate(58deg);
  top: 64.5%;
  left: 81%;
}


/* the keyframes! */

@keyframes twinkle {
  0% {
    opacity: .45;
  }
  100% {
    opacity: 1;
  }
}

@keyframes line {
  0% {
    opacity: .5;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.star-text{
  position: absolute;
  color: white;
  font-family: 'Muli', sans-serif;
}

.star-text-1{
  position: absolute;
  color: white;
  font-family: 'Muli', sans-serif;
  top: 10%
}